nav {
  border-bottom-color: #000;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  height: 50px;
  background: rgba(0,0,0,.80);
}

nav img {
  position: absolute;
  top: 3px;
  left: 3px;
}

nav ul {
  margin: 0px auto;
  width: 980px; 
}

nav li {
  border-top: 3px solid transparent;
  float: left;
  line-height: 1.2;
  list-style-type: none;
  margin: 0px 0px 0px 0px;
  width: 220px;
  text-align: left;
}

nav li:hover {
  border-top: 3px solid white;
  background: rgba(0,0,0,.50);
}

nav li a:visited {
  color: #CCC;
}

nav li a:hover {
  color: white;
  text-decoration:none;
}

nav li a {
  text-decoration:none;
  color: #CCC;
  display:block;
  padding: 5px 10px;
}

nav li h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
}

nav li p {
  font-size: 12px;
}

nav li.selected a h1{
	color:red;
}
nav li.selected a{
	color:white;
}
nav li.selected{
	border-top: 3px solid red;
	background: rgba(0,0,0,.50);
}

/* search box */
.searchbox {
  margin: 10px 0 10px 0;
  text-align: right;
}