body.ss-base-body {
background-color:#217d33;
color:#1a6329;
}

div.ss-form-container {
background:#fff url(//lh3.googleusercontent.com/2rIjESCGDCKwcdMGIxF39ArWBz8yifiva5GDkoeJWer_mdfyqxhweds4TFdOnykRT3wDsfQM-Zp17mby7Xl3sus=s0) top left repeat-y;
border:5px solid #1a6329;
margin:15px auto;
padding:1em 1em 1em 160px;
}

h1.ss-form-title {
font-size:2.4em;
margin:15px 0 10px;
padding:0;
}

pre.ss-form-desc {
font-family:arial,sans-serif;
font-size:1em;
}

div.errorbox-bad {
background-color:#bf0202;
border:none;
color:#fff;
padding:5px;
}

span.ss-required-asterisk,div.errorheader {
color:#bf0202;
}

div.errorheader {
text-align:center;
margin:1em 0;
}

div.ss-form-entry {
margin:0;
}

label.ss-q-title {
border-bottom:1px solid #217d33;
font-size:1.1em;
margin:0 0 .4em;
padding:0 0 .1em;
}

div.errorbox-bad .ss-q-title {
border-color:#fff;
}

label.ss-q-help {
font-size:.9em;
font-style:italic;
}

div.errorbox-bad .ss-q-help {
color:#ccc;
}

input,select,table,ul,label.ss-q-help {
margin-left:10px;
}

td.ss-scalerow {
border-color:#217d33;
}

td.ss-leftlabel,td.ss-rightlabel {
color:#217d33;
font-size:.9em;
font-style:italic;
}

textarea {
width:90%;
}

h2.ss-section-title {
background-color:transparent;
}

div.ss-submit div.ss-form-entry {
background:none;
border:none;
}

@media print{
body {
background:#FFF!important;
}
}