[submodule "docs"]
	path = docs
	url = git://github.com/dtolabs/rundeck-docs.git
[submodule "1.2.1"]
	path = 1.2.1
	url = git://github.com/dtolabs/rundeck-docs.git
[submodule "1.3.2"]
	path = 1.3.2
	url = git://github.com/dtolabs/rundeck-docs.git
[submodule "1.4.1rc"]
	path = 1.4.1rc
	url = git://github.com/dtolabs/rundeck-docs.git
[submodule "1.4"]
	path = 1.4
	url = git://github.com/dtolabs/rundeck-docs.git
[submodule "1.4.1"]
	path = 1.4.1
	url = git://github.com/dtolabs/rundeck-docs.git
