[submodule "docs/1.2.1"]
	path = docs/1.2.1
	url = git://github.com/dtolabs/rundeck-docs.git
[submodule "docs/1.3.2"]
	path = docs/1.3.2
	url = git://github.com/dtolabs/rundeck-docs.git
[submodule "docs/1.4"]
	path = docs/1.4
	url = git://github.com/dtolabs/rundeck-docs.git
[submodule "docs/1.4.1"]
	path = docs/1.4.1
	url = git://github.com/dtolabs/rundeck-docs.git
[submodule "docs/1.4.2"]
	path = docs/1.4.2
	url = git://github.com/dtolabs/rundeck-docs.git
[submodule "docs/1.4.3rc1"]
	path = docs/1.4.3rc1
	url = git://github.com/dtolabs/rundeck-docs.git
[submodule "docs/1.4.3"]
	path = docs/1.4.3
	url = git://github.com/dtolabs/rundeck-docs.git
[submodule "docs/1.4.5"]
	path = docs/1.4.5
	url = git://github.com/dtolabs/rundeck-docs.git
[submodule "docs/1.5rc1"]
	path = docs/1.5rc1
	url = git://github.com/dtolabs/rundeck-docs.git
[submodule "docs/1.5"]
	path = docs/1.5
	url = git://github.com/dtolabs/rundeck-docs.git
[submodule "docs/latest"]
	path = docs/latest
	url = git://github.com/dtolabs/rundeck-docs.git
