[submodule "docs"]
	path = docs
	url = git://github.com/dtolabs/rundeck-docs.git
[submodule "1.2.1"]
	path = 1.2.1
	url = git://github.com/dtolabs/rundeck-docs.git
[submodule "1.3.2"]
	path = 1.3.2
	url = git://github.com/dtolabs/rundeck-docs.git
