--- 

layout: base
title: Open Source Workflow Automation

---
    
<section class="page" id="index">

{%include rundeckdescription.html %}

</section>

<section>
<article class="about container_12">
	<h3>Latest Rundeck News</h3>
	<ul>
  {% for post in site.posts limit:3 %}
    <li>
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>


 <!--
    <div class="jcarousel-skin-tango" id="movies">

    {% include tour-list.html %}

    </div>
-->
<section>
{%include rundeckdescription-lower.html %}
</section>

</article>
</section>

