<footer>

    <a href="{{ site.url }}/index.html">home</a> 
    -
    <a href="{{ site.url }}/news">news</a> 
    -
    <a href="http://groups.google.com/group/rundeck-discuss">rundeck-discuss</a>
    -
    <a href="http://webchat.freenode.net/?nick=rundeckuser.&channels=rundeck&prompt=1">#rundeck</a>
    -
    <a href="https://twitter.com/rundeck">@rundeck</a>
    -
    <a href="https://github.com/rundeck/rundeck/issues">Github Issues</a>
    -
    <a href="{{ site.url }}/docs">Documentation</a>
    -
    <a href="{{ site.url }}/docs/api/index.html">API</a>

<div>
<a class="btn greenLight" href="http://simplifyops.com/development.html">
<i class="glyphicon glyphicon-plus icon-plus"></i>
Add a New Feature to Rundeck
</a>
<div>

</footer>