<ul  class="container_12">
    <li class="item index grid_4 alpha">
    <a href="{{ site.url }}/index.html">
      <h1>
        <img src="{{ site.url }}/images/rundeck2-icon-16.png"/>
        Rundeck</h1>
      <p class="rd_version">Open-Source Workflow Automation</p>
      </a>
    </li>
    <li class="item about grid_2">
      <a href="{{ site.url }}/about.html">
        <h1>About</h1>
        <p>Tour, News, Videos</p>
      </a>
    </li>
    <li class="item help grid_2">
      <a href="{{ site.url }}/help.html">
        <h1>Get Help</h1>
        <p>Docs, Community</p>
      </a>
    </li>
    <li class="item plugins grid_2">
      <a href="{{ site.url }}/plugins/index.html">
        <h1>Plugins</h1>
        <p>Integrate Rundeck</p>
      </a>
    </li>
    <li class="item downloads grid_2 omega">
    <a href="{{ site.url }}/downloads.html">
      <h1>Download</h1>
      <p class="rd_version">{{ site.rd_version }}</p>
      </a>
    </li>
    <div class="clear"></div>
</ul>
