<ul  class="container_12">
    <li class="item downloads grid_3">
    <a href="downloads.html">
      <h1>Downloads</h1>
      <p class="rd_version">{{ site.rd_version }}</p>
      </a>
    </li>
    <li class="item docs grid_3">
      <a href="docs.html">
        <h1>Documentation</h1>
        <p class="rd_version">{{ site.rd_version }}</p>
      </a>
    </li>
    <li class="item help grid_3">
      <a href="help.html">
        <h1>Get Help</h1>
        <p>IRC List Tracker</p>
      </a>
    </li>
    <li class="item source grid_3">
      <a href="https://github.com/dtolabs/rundeck">
        <h1>Source</h1>
        <p>On GitHub</p>
      </a>
    </li>
</ul>  