<ul  class="container_12">
    <li class="item index grid_4 alpha">
    <a href="index.html">
      <h1>Rundeck</h1>
      <p class="rd_version">Open-Source Job Console</p>
      </a>
    </li>
    <li class="item about grid_2">
      <a href="about.html">
        <h1>About</h1>
        <p>Docs, Screencasts</p>
      </a>
    </li>
    <li class="item help grid_2">
      <a href="help.html">
        <h1>Get Help</h1>
        <p>IRC List Tracker</p>
      </a>
    </li>
    <li class="item downloads grid_2">
    <a href="downloads.html">
      <h1>Download</h1>
      <p class="rd_version">{{ site.rd_version }}</p>
      </a>
    </li>
    <li class="item source grid_2 omega">
      <a href="https://github.com/dtolabs/rundeck">
        <h1>Source Code</h1>
        <p>On GitHub</p>
      </a>
    </li>
</ul>  
