    
<article class="container_12 introduction">
<div class="grid_2">
<img src="images/rundeck140.png" alt="RunDeck Logo">
</div>
<div class="grid_10">
<h3>
RunDeck is an open-source <em>job scheduler</em> and <em>command orchestration</em> tool with a <em>web console</em>.
</h3>
<p>
 Dispatch shell commands and scripts across all your physical or virtual nodes  from a web-based or command-line interface. Automate ad-hoc and routine procedures. Use the API and plugins to integrate with other services.  Use your LDAP/AD for authentication, and configure extensive access control.</p>

</div>

<div class="clear"></div>
</article>