    
<article>
<a id="LearnMore"></a><h3>How to Use Rundeck</h3>
<br>
<div class="grid_1">
<span class="icon-stack" style="font-size: 35px;">
            <i class="icon-circle icon-stack-base" style="color:red"></i>
            <i class="icon-notanicon" style="color:white; font-size: 120%">1</i>
</span>
</div> 
<div class="grid_11">
<p><strong>Create a job</strong> by defining a single step or a workflow that can execute any set of commands, scripts, or tools on any number of local or remote nodes.</p>
<p style="text-align:center"><img src="{{ site.baseurl }}/images/placeholder-screenshotgoeshere.png" width="500"></p>
</div>
<div class="clear"></div>
<br>

<div class="grid_1">
<span class="icon-stack" style="font-size: 35px;">
            <i class="icon-circle icon-stack-base" style="color:red"></i>
            <i class="icon-notanicon" style="color:white; font-size: 120%">2</i>
</span>
</div> 
<div class="grid_11">
<p><strong>Safely hand off the job to others</strong> to execute or follow the output -- depending on the permissions you give them. Collaborate with others and build your organization's library of repeatable and auditable actions.</p>
<p style="text-align:center"><img src="{{ site.baseurl }}/images/placeholder-screenshotgoeshere.png" width="500"></p>
</div>
<div class="clear"></div>
<br>

<div class="grid_1">
<span class="icon-stack" style="font-size: 35px;">
            <i class="icon-circle icon-stack-base" style="color:red"></i>
            <i class="icon-notanicon" style="color:white; font-size: 120%">3</i>
</span>
</div> 
<div class="grid_11">
<p><strong>Enjoy being the Hero.</strong> You've safely given Dev and QA teams access to self-service operations tasks (deployments, restarts, data management, etc.). You've made Collaboration with your Operations colleagues easier. You've improved everyone's visibility into Operations activity. Now you can spend less of your time fielding repetitive requests and more of your time doing new and interesting things that will further the business.</p>
<p style="text-align:center"><img src="{{ site.baseurl }}/images/placeholder-hero.png" width="500"></p>
</div>
<div class="clear"></div>
<p>&nbsp;</p>
<h3>Rundeck Case Studies</h3>
<br>
<div class="grid_2 prefix_1">
<a href="prakash_rudraraju.html"><img src="stories/images/PrakashScreen.jpg" alt="Prakash Rudraraju - Data.com" width="200"></a>
</div>
			
<div class="grid_8 prefix_1">
<h2><a href="stories/prakash_rudraraju.html">Prakash Rudraraju from Data.com</a></h2>
<p>Prakash uses Rundeck to: 1. provide visibility into deployments in secure production environments 2. safely enable self-serivce capabiltiies that protect the capacity of the TechOps Team 3. improve the ease of patching and routine maintenance by leveraging a library of repeatable procedures.</br><a href="stories/prakash_rudraraju.html">&#40;read more...&#41;</a></p>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div class="grid_12">
<a class="button-large centered-element" href="downloads.html">Download Rundeck</a>
<p class="centered" style="font-size: 80%;"><a href="docs.html">or<br>View the Rundeck Documentation</a></p>
</div>
<div class="clear"></div>

</article>
