    
<div class="background-gray">
      <div class="grid_12">
<h3 id="LearnMore">How to Use Rundeck</h3>
</div>
<div class="grid_1">
<span class="icon-stack" style="font-size: 35px;">
            <i class="icon-circle icon-stack-base" style="color:red"></i>
            <i class="icon-notanicon" style="color:white; font-size: 120%">1</i>
</span>
</div> 
<div class="grid_11">
<p><strong>Create a job</strong> by defining a single step or a workflow that can execute any set of commands, scripts, or tools on any number of local or remote nodes.</p>
<p style="text-align:center"><img src="{{ site.baseurl }}/images/Rundeck-EditJob.png" width="500"></p>
</div>
<div class="clear"></div>
<br>

<div class="grid_1">
<span class="icon-stack" style="font-size: 35px;">
            <i class="icon-circle icon-stack-base" style="color:red"></i>
            <i class="icon-notanicon" style="color:white; font-size: 120%">2</i>
</span>
</div> 
<div class="grid_11">
<p><strong>Safely hand off the job to others</strong> to execute or follow the output -- depending on the permissions you give them. Collaborate with others and build your organization's library of repeatable and auditable actions.</p>
<p style="text-align:center"><img src="{{ site.baseurl }}/images/Rundeck-JobExecution.png" width="500"></p>
</div>
<div class="clear"></div>
<br>

<div class="grid_1">
<span class="icon-stack" style="font-size: 35px;">
            <i class="icon-circle icon-stack-base" style="color:red"></i>
            <i class="icon-notanicon" style="color:white; font-size: 120%">3</i>
</span>
</div> 
<div class="grid_11">
<p><strong>Enjoy being the Hero.</strong> You've safely given Dev and QA teams access to self-service operations tasks (deployments, restarts, data management, etc). You've made collaboration with your Operations colleagues easier. You've improved everyone's visibility into Operations activity. Now you can spend less of your time fielding repetitive requests and more of your time doing new and interesting things that will further the business.</p>
<p style="text-align:center"><img src="{{ site.baseurl }}/images/hero.jpg" width="499"></p>
</div>
<div class="clear"></div>
<p>&nbsp;</p>
</div>

<div>
<div class="grid_12">
<h3>Popular Uses</h3>
<br>
</div>
<div class="grid_3 prefix_1">
<img src="{{ site.baseurl }}/images/rundeckuse_standardprocedure.png" alt="Use Rundeck to define standard operating procedures" width="300">
</div>
			
<div class="grid_7 prefix_1">
<h2>Share Standard Operating Procedures</h2>
<p>Build up a common set of reusable procedures. Share those procedures with others as executable code rather than error prone "do this, then that" text files or checklists.</p>
</div>
<div class="clear"></div>
<br>
<br>
<div class="grid_3 prefix_1">
<img src="{{ site.baseurl }}/images/rundeckuse_zeroclickdeploy.png" alt="Use Rundeck for zero-click deployment" width="300">
</div>
<div class="grid_7 prefix_1">
<h2>Zero-Click Deployment After a Build</h2>
<p>Move towards Continuous Delivery by having your build or CI server trigger Rundeck to execute the post-build deployment process and deployment verification testing. Reuse those same jobs to deploy across all environments automatically (zero-click) or with a manual trigger (one-click).</p>
</div>
<div class="clear"></div>

<br>
<br>
<div class="grid_3 prefix_1">
<img src="{{ site.baseurl }}/images/rundeckuse_testenvs.png" alt="Use Rundeck to enable self-service test environments" width="300">
</div>
			
<div class="grid_7 prefix_1">
<h2>Self-Service Test Environments</h2>
<p>Provide Dev and QA with self-service provisioning of test environments. Use Rundeck's option providers to allow users to select specific versions of artifacts to deploy. Pair with virtualization or cloud infrastructure to allow techniques like short-lived, branch-specific test environments.</p>
</div>
<div class="clear"></div>

<br>
<br>
<div class="grid_3 prefix_1">
<img src="{{ site.baseurl }}/images/rundeckuse_dataprocessingaws.png" alt="Use Rundeck to managae data processing jobs in the cloud" width="300">
</div>
			
<div class="grid_7 prefix_1">
<h2>Data Processing Jobs in the Cloud</h2>
<p>Coordinate the lifecycle of a data processing job, including the provisioning and de-provisioning of the supporting cloud infrastructure. Rundeck's Web-UI and ACL policies enable you to safely delegate to non-technical users the ability to kick-off and view data processing jobs.</p>
</div>
<div class="clear"></div>

<br>
<br>
<div class="grid_3 prefix_1">
<img src="{{ site.baseurl }}/images/rundeckuse_poweredby.png" alt="Use Rundeck to build custom ops platforms and tools" width="300">
</div>
			
<div class="grid_7 prefix_1">
<h2>Custom Platforms &quot;Powered By Rundeck&quot;</h2>
<p>Build a custom Operations Platform that leverages Rundeck's full featured API. Integrate with other tools, build your own plugins, and build your own business-specific UI.</p>
</div>
<div class="clear"></div>

</div>



<div class="background-gray">
<div class="grid_12">
<h3>Rundeck Case Studies</h3>
<br>
</div>
<div class="clear"></div>
<div class="grid_2 prefix_1">
<a href="prakash_rudraraju.html"><img src="{{ site.baseurl }}/stories/images/PrakashScreen.jpg" alt="Prakash Rudraraju - Data.com" width="200"></a>
</div>
			
<div class="grid_8 prefix_1">
<h2><a href="stories/prakash_rudraraju.html">Prakash Rudraraju from Data.com</a></h2>
<p>Prakash uses Rundeck to: 1. provide visibility into deployments in secure production environments 2. safely enable self-service capabilities that protect the capacity of the TechOps Team 3. improve the ease of patching and routine maintenance by leveraging a library of repeatable procedures.</br><a href="stories/prakash_rudraraju.html">&#40;read more...&#41;</a></p>
</div>
<div class="clear"></div>
</div>

<div>
<br>
<div class="grid_12">
<a class="button-large centered-element" href="downloads.html">Download Rundeck</a>
<p class="centered" style="font-size: 80%;"><a href="docs.html">or<br>View the Rundeck Documentation</a></p>
</div>
<div class="clear"></div>
</div>
