    
<div class="background-gray">
      <div class="grid_12">
<h3 id="LearnMore">How to Use Rundeck</h3>
</div>
<div class="grid_1">
<span class="icon-stack" style="font-size: 35px;">
            <i class="icon-circle icon-stack-base" style="color: #005C8E"></i>
            <i class="icon-notanicon" style="color:white; font-size: 120%">1</i>
</span>
</div> 
<div class="grid_11">
<p><strong>Create a job</strong> by defining a single step or a workflow that can execute any set of commands, scripts, or tools on any number of local or remote nodes. Jobs can be <a href="job-scheduler/">triggered by the scheduler</a> or on-demand via the web interface or API.</p>
<p style="text-align:center"><img src="{{ site.baseurl }}/images/Rundeck-EditJob.png" width="500"></p>
</div>
<div class="clear"></div>
<br>

<div class="grid_1">
<span class="icon-stack" style="font-size: 35px;">
            <i class="icon-circle icon-stack-base" style="color: #005C8E"></i>
            <i class="icon-notanicon" style="color:white; font-size: 120%">2</i>
</span>
</div> 
<div class="grid_11">
<p><strong>Safely hand off the job to others</strong> to execute or follow the output -- depending on the permissions you give them. Collaborate with others and build your organization's library of repeatable and auditable actions. You can also let users to run ad-hoc commands (if your security policies allow it).</p>
<p style="text-align:center"><img src="{{ site.baseurl }}/images/Rundeck-JobExecution.png" width="500"></p>
</div>
<div class="clear"></div>
<br>

<div class="grid_1">
<span class="icon-stack" style="font-size: 35px;">
            <i class="icon-circle icon-stack-base" style="color: #005C8E"></i>
            <i class="icon-notanicon" style="color:white; font-size: 120%">3</i>
</span>
</div> 
<div class="grid_11">
<p><strong>Enjoy being the Hero.</strong> You've safely given Dev and QA teams access to self-service operations tasks (deployments, restarts, data management, etc). You've made collaboration with your Operations colleagues easier. You've improved everyone's visibility into Operations activity. Now you can spend less of your time fielding repetitive requests and more of your time doing new and interesting things that will further the business.</p>
<p style="text-align:center"><img src="{{ site.baseurl }}/images/hero.jpg" width="499"></p>
</div>
<div class="clear"></div>
<p>&nbsp;</p>
</div>

<div>
<div class="grid_12">
<h3>Popular Uses</h3>
<br>
</div>
<div class="grid_3 prefix_1">
<img src="{{ site.baseurl }}/images/rundeckuse_standardprocedure.png" alt="Use Rundeck to define standard operating procedures" width="300">
</div>
			
<div class="grid_7 prefix_1">
<h2>Share Standard Operating Procedures<br/> 
	<span style="font-size: 80%;">(Runbook Automation)</span></h2>
<p>Build up a common set of reusable procedures. Share those procedures with others as executable code rather than error prone "do this, then that" text files or checklists. <a href="{{ site.baseurl }}runbook-automation/">&#40;more...&#41;</a></p></p>
</div>
<div class="clear"></div>


<br>
<br>
<div class="grid_3 prefix_1">
<img src="{{ site.baseurl }}/images/rundeckuse_jobscheduler.png" alt="Use Rundeck as a job scheduler" width="300">
</div>
<div class="grid_7 prefix_1">
<h2>Job Scheduler</h2>
<p>Use Rundeck as an easier to manage and more secure replacement for Cron or as a replacement for legacy tools like Control-M or HP Operations Orchestration. Rundeck gives your users a simple web interface &#40;GUI or API&#41; to go to for both on-demand and scheduled operations tasks. <a href="{{ site.baseurl }}/job-scheduler/">&#40;more...&#41;</a></p>
</div>
<div class="clear"></div>

<br>
<br>
<div class="grid_3 prefix_1">
<img src="{{ site.baseurl }}/images/rundeckuse_incidentmanagement.png" alt="Use Rundeck as a job scheduler" width="300">
</div>
<div class="grid_7 prefix_1">
<h2>Incident Response</h2>
<p>Reduce MTTR, reduce escalations, and lower total support costs. Collaborate on the definition of standard operating procedures. Make it simple for a response team to run both standard operating procedures and ad-hoc commands as needed. Safely pull in subject matter experts to resolve problems in environments to which you otherwise couldn't give them access. Integrate with monitoring and ticket systems. Satisfy auditors because Rundeck logs all activity. </p>
</div>
<div class="clear"></div>


<br>
<br>
<div class="grid_3 prefix_1">
<img src="{{ site.baseurl }}/images/rundeckuse_zeroclickdeploy.png" alt="Use Rundeck for automated deployment" width="300">
</div>
<div class="grid_7 prefix_1">
<h2>Automated Deployment After a Build</h2>
<p>Move towards Continuous Delivery by having your build or CI server trigger Rundeck to execute the post-build deployment process and deployment verification testing. Reuse those same jobs to deploy across all environments automatically (zero-click) or with a manual trigger (one-click).</p>
</div>
<div class="clear"></div>

<br>
<br>
<div class="grid_3 prefix_1">
<img src="{{ site.baseurl }}/images/rundeckuse_testenvs.png" alt="Use Rundeck to enable self-service test environments" width="300">
</div>
<div class="grid_7 prefix_1">
<h2>Self-Service Test Environments</h2>
<p>Provide Dev and QA with self-service provisioning of test environments. Use Rundeck's option providers to allow users to select specific versions of artifacts to deploy. Pair with virtualization or cloud infrastructure to allow techniques like short-lived, branch-specific test environments.</p>
</div>
<div class="clear"></div>

<br>
<br>
<div class="grid_3 prefix_1">
<img src="{{ site.baseurl }}/images/rundeckuse_dataprocessingaws.png" alt="Use Rundeck to managae data processing jobs in the cloud" width="300">
</div>
<div class="grid_7 prefix_1">
<h2>Data Processing Jobs in the Cloud</h2>
<p>Coordinate the lifecycle of a data processing job, including the provisioning and de-provisioning of the supporting cloud infrastructure. Rundeck's Web-UI and ACL policies enable you to safely delegate to non-technical users the ability to kick-off and view data processing jobs.</p>
</div>
<div class="clear"></div>

<br>
<br>
<div class="grid_3 prefix_1">
<img src="{{ site.baseurl }}/images/rundeckuse_poweredby.png" alt="Use Rundeck to build custom ops platforms and tools" width="300">
</div>			
<div class="grid_7 prefix_1">
<h2>Custom Platforms &quot;Powered By Rundeck&quot;</h2>
<p>Build a custom Operations Platform that leverages Rundeck's full featured API. Integrate with other tools, build your own plugins, and build your own business-specific UI.</p>
</div>
<div class="clear"></div>

</div>



<div class="background-gray">
<div class="grid_12">

<h3 id="casestudies">Rundeck Case Studies</h3>
<br>
</div>
<div class="clear"></div>

<!-- Start John D'Esposito case study -->
<div class="grid_2 prefix_1">
<a href="stories/john_desposito.html"><img src="{{ site.baseurl }}/stories/images/JohnDEsposito.jpg" alt="John D'Esposito" width="200"></a>
</div>			
<div class="grid_8 prefix_1">
<h2><a href="stories/john_desposito.html">John D'Esposito Implements ChatOps for Financial Services</a></h2>
<p>When companies want to get the most out of their Cloud infrastructure investment, New York based Devopulence is called in to help rethink and retool operations. Rundeck is used as a key part of their ChatOps and Incident Response solutions.</br><a href="stories/john_desposito.html">&#40;read more...&#41;</a></p>
</div>
<div class="clear"></div>
<!-- End John D'Esposito case study-->
<p>&nbsp;</p>
<p>&nbsp;</p>
<!-- Start Jordan Koch case study -->
<div class="grid_2 prefix_1">
<a href="stories/jordan_koch.html"><img src="{{ site.baseurl }}/stories/images/JordanKoch.jpg" alt="Jordan Koch - Disney" width="200"></a>
</div>			
<div class="grid_8 prefix_1">
<h2><a href="stories/jordan_koch.html">Jordan Koch from Disney</a></h2>
<p>Rundeck is a key tool in the toolbox for Jordan Koch and his Systems Engineering colleagues. As with any diverse and expanding organization, this team realized that they needed both standard operating procedures and way to safely give people on other teams self-service access to those procedures.</br><a href="stories/jordan_koch.html">&#40;read more...&#41;</a></p>
</div>
<div class="clear"></div>
<!-- End Jordan Koch case study-->
<p>&nbsp;</p>
<p>&nbsp;</p>
<!-- Start Mark Maun case study -->
<div class="grid_2 prefix_1">
<a href="stories/mark_maun.html.html"><img src="{{ site.baseurl }}/stories/images/MarkMaun.jpg" alt="Mark Maun - Ticketmaster" width="200"></a>
</div>			
<div class="grid_8 prefix_1">
<h2><a href="stories/mark_maun.html">Mark Maun at Ticketmaster</a></h2>
<p>Mark uses Rundeck to enable a single team to safely deploy applications across environments and empower support teams to take action to resolve issues immediately. Mark has used Rundeck to enable initiatives that have reduced escalations by 30% - 40%, overall support incident costs by 55%, and reduced mean time to repair (MTTR) by 50% - 150% per service.</br><a href="stories/mark_maun.html">&#40;read more...&#41;</a></p>
</div>
<div class="clear"></div>
<!-- End Mark Maun case study -->
<p>&nbsp;</p>
<p>&nbsp;</p>
<!-- Start Prakash case study -->
<div class="grid_2 prefix_1">
<a href="stories/prakash_rudraraju.html"><img src="{{ site.baseurl }}/stories/images/PrakashScreen.jpg" alt="Prakash Rudraraju - Data.com" width="200"></a>
</div>			
<div class="grid_8 prefix_1">
<h2><a href="stories/prakash_rudraraju.html">Prakash Rudraraju at Data.com</a></h2>
<p>Prakash uses Rundeck to: 1. provide visibility into deployments in secure production environments 2. safely enable self-service capabilities that protect the capacity of the TechOps Team 3. improve the ease of patching and routine maintenance by leveraging a library of repeatable procedures.</br><a href="stories/prakash_rudraraju.html">&#40;read more...&#41;</a></p>
</div>
<div class="clear"></div>
<!-- End Prakash case study -->

<p>&nbsp;</p>
<p>&nbsp;</p>

<!-- Start Salesforce case study -->
<div class="grid_2 prefix_1">
<a href="stories/salesforce_gigantor.html"><img src="{{ site.baseurl }}/stories/images/Gigantor_RundeckSalt.png" alt="Gigantor stack - Salesforce.com" width="200"></a>
</div>                  
<div class="grid_8 prefix_1">
<h2><a href="stories/salesforce_gigantor.html">Gigantor Project at Salesforce.com</a></h2>
<p>As one of the world's largest cloud based business services, Salesforce.com needs high-scale and high-velocity operations. Rundeck is one of the key operations tools that lets them do just that. The Salesforce.com team took a toolchain approach that features Rundeck, SaltStack, and a custom internal tool called Kingpin.</br><a href="stories/salesforce_gigantor.html">&#40;read more...&#41;</a></p>
</div>
<div class="clear"></div>
<!-- End Salesforce case study -->


<p>&nbsp;</p>
</div>

<div>
<br>
<div class="grid_12">
<a class="button-large centered-element" href="https://www.rundeck.com/download-page">Download Rundeck</a>
<p class="centered" style="font-size: 80%;"><a href="docs.html">or<br>View the Rundeck Documentation</a></p>
</div>
<div class="clear"></div>
</div>
