    
<article class="container_12 introduction">
<div class="grid_2">
<img src="images/rundeck140.png" alt="Rundeck Logo">
</div>
<div class="grid_10">
<h1>Rundeck Enables Operations as a Service</h1>
<h3>
Give others the control and visibility they need.
</h3>
<br>
<h4>
<ul>
<li>Turn your various scripts, tools, and procedures in self-service jobs</li>
<li>Web GUI, API, or Command line access</li>
<li>Built-in authorization, logging, error handling, and notifications</li>
<li>Source node data and job variables from any tool with an API</li>
<li>Execute remote actions over SSH, WinRM, or any other transport</li>	
<li>Extend using existing plug-ins or write your own plug-ins</li>
</ul>
</h4>
</div>
<p>&nbsp;</p>
<div class="grid_4 prefix_2">
<a class="button-large" href="downloads.html">Download Rundeck</a>
</div>
<div class="grid_4 suffix_2">
<a class="button-large" href="#LearnMore">Learn More</a>
</div>
<div class="clear"></div>

</article>
