    
<article class="container_12 introduction">
<div class="grid_2">
<img src="images/rundeck140.png" alt="Rundeck Logo">
</div>
<div class="grid_10">
<h3>
Rundeck is an open-source <em>workload automation</em> server with a <em>graphical console</em> and <em>web API</em>.
</h3>
<p>
 Define multi-step workflows to automate your processes. Workflow steps can dispatch shell commands and scripts across all your physical or virtual nodes and execute actions in other tools through plugins. Use Rundeck as a portal to provide self serve automation or use Rundeck as an automation engine to power your own hosted service.  Configure extensive role-based access control with LDAP/Active Directory and policies.</p>

</div>

<div class="clear"></div>
</article>
