<ul class="about">
<li>
<p>
    Welcome to <em>RunDeck</em>, a web-accessible console for dispatching commands and scripts to your nodes.
</p>

<figure>
<img src="images/screenshots/runpage1.png" alt="Node listing">
</figure>
</li>

    
<li>
<p>Import <em>Node resources</em> from anywhere: Chef, Puppet, Amazon EC2, or your own in-house CMDB. Nodes can be organized using tags or other attributes.</p>

<figure>
<img src="images/screenshots/nodes1.png" alt="Node listing">
</figure>
</li>


<li>
    <p>Run <em>commands and scripts</em> on your nodes. Run them in parallel on multiple nodes.</p>
    <p>Run commands <i>ad-hoc</i> by just typing in the command and hitting enter.</p>

<figure>
<img src="images/screenshots/adhoc1.png">
</figure>
</li>

<li><p><em>Plugins</em> can add new node sources, formats and remote executors.</p> 

<figure>
<img src="images/screenshots/addsource1.png" alt="Add Node sources in the GUI">
</figure>
</li>

<li><p><em>Live executions</em> can be followed, and interleaved output from multiple nodes can be separated.</p>
<figure>
<img src="images/screenshots/nowrunning1.png">
</figure>
</li>

<li><p><em>Jobs</em> define commands to run on a schedule or on demand. You can notify people via email or web services via webhook when they finish.</p>

<figure>
<img src="images/screenshots/jobs1.png">
<figcaption>Organize Jobs into Groups. Schedule them using cron syntax.</figcaption>
</figure>
</li>

<li><p><em>Workflows</em> allow coordinated sequences of commands, scripts or other Jobs.</p>

<figure>
<img src="images/screenshots/workflow1.png" >
</figure>
</li>


<li><p>With the <em>workflow editor</em> you can modify workflows in the GUI without touching the command-line or source files. But, you can also use textual source definitions and export/import via GUI, CLI or API.</p>

<figure>
<img src="images/screenshots/workfloweditor1.png" >
</figure>
</li>


<li><p>The <em>Web API</em> and command-line tools let you run and manage Jobs, update your node resources, and retrieve execution history. You can connect RunDeck with other tools, scripts and services easily.</p>

<figure>
<img src="images/screenshots/api1.png" >
</figure>
</li>

<li><p>The <em>execution history</em> lets you audit and search all previous executions.</p>

<figure>
<img src="images/screenshots/history1.png" >
</figure>
</li>

<li>
    <ul>
        <li><p>Add <em>access control</em> to all aspects of the system.</p></li>
        <li><p>Integrate with other tools like Chef, Puppet, Jenkins, etc.</p></li>
        <li><p>Add or create plugins for further features.</p></li>
        <li><p><a href="screencasts.html">Watch some screencasts</a> to see how it works.</p></li>
        <li><p><a href="downloads.html">Download and install</a> on Linux, Windows and Mac OS X</p></li>
        <li><p> <a href="docs/index.html">Read the documentation for more information...</a>
        </p></li>
    </ul>
</li>
</ul>