---

layout: base

---


<section id="about" class="page container_12">

<div class="grid_12">
  <article class=" introduction">
    
      <p>
      <strong><a href="/stories">Back to User Stories  &larr;</a></strong>
      </p>

  </article>


   <article class="plugin">

        <header>
          <h3>{{ page.title }} </h3> 
          &nbsp;&nbsp;&nbsp;<span style="color:#808080;font-size:smaller;">Updated:{{ page.updatedate }}</span>    
        </header>
        <div class="body">

          <div class="desc">
            <p> {{ page.content }} 
            </p>
          </div>
        </div>
      </article>	

    </div>
    <div class="clear"></div>
</section>

